<header>
    <h2 class="text-center">TODO APP Spring-Angular</h2>
  </header>
  <fieldset style="margin: 5% 12%; ">
    <div class="add_div">
        <h2 >Add Employee</h2>
        <div class="input_section" >
            <div>
                    <label>User Name:</label><input type="text"  placeholder="Enter Employee Name" id="name1"  [(ngModel)]="Datas[0].name" class="in1">
            </div>
            <div>     
                    <label>User Email:</label><input type="text" placeholder="Enter Employee Email" id="email1"  [(ngModel)]="Datas[0].email" class="in1">
            </div>
            <div>
                    <label>User Phone:</label><input type="text" placeholder="Enter Phone Number" id="Phone1" [(ngModel)]="Datas[0].phone" class="in1" />
            </div>
            <div>
                    <label>User Image:</label><input type="text" placeholder="Enter image Url or blank" id="image1" [(ngModel)]="Datas[0].imageUrl" class="in1"/>      
            </div>
        
        </div> 

        <div>
            <button id="b1" type="submit" (click)="onSubmit()" [disabled]="isFormInvalid() ||  validatePhone(Datas[0].phone)"  >Add Employee</button>
        </div>
    </div>
</fieldset>

<div class="get_all">
    <fieldset style="padding: 30px; text-align: center;">
        <h2>All Employee Details</h2>
    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>JobTittle</th>
          <th>Phone</th>
          <th>Profile</th>
          <th>EmployeeCode</th>
        </tr>
        <tr *ngFor="let Emp of Employe">
          <td>{{Emp.id}}</td>
          <td>{{Emp.name}}</td>
          <td>{{Emp.email}}</td>
          <td>{{Emp.jobTittle}}</td>
          <td>{{Emp.phone}}</td>
          <td><img src="{{Emp.imageUrl}}" alt="" srcset="" style="width: 50px; height: 50px;"></td>
          <td>{{Emp.employeeCode}}</td>

        </tr>
      </table>
    </fieldset>


</div>
