<header>
    <h2 class="text-center">Spring-Angular basic crud</h2>
  </header>
  <fieldset>
    <div class="add_div">
        <h2 >Add Employee</h2>
        <div class="input_section" >
            <div>
                    <label>User Name:</label><input type="text"  placeholder="Enter Employee Name" id="name1"  [(ngModel)]="Datas[0].name" class="in1">
            </div>
            <div>     
                    <label>User Email:</label><input type="text" placeholder="Enter Employee Email" id="email1"  [(ngModel)]="Datas[0].email" class="in1">
            </div>
            <div>
                    <label>User Phone:</label><input type="text" placeholder="Enter Phone Number" id="Phone1" [(ngModel)]="Datas[0].phone" class="in1" />
            </div>
            <div>
                    <label>User Image:</label><input type="text" placeholder="Enter image Url or blank" id="image1" [(ngModel)]="Datas[0].imageUrl" class="in1"/>      
            </div>
        
        </div> 

        <div>
            <button id="b1" type="submit" (click)="onSubmit()" [disabled]="isFormInvalid() ||  validatePhone(Datas[0].phone)"  >Add Employee</button>
            
            <button id="b1" type="submit" (click)="onSubmit()" [disabled]="isFormInvalid() ||  validatePhone(Datas[0].phone)"  >Update Details</button>
        </div>
    </div>
</fieldset>

<div class="get_all">
    <fieldset style="padding: 30px; text-align: center;">
        <h2>All Employee Details</h2>
    <table border="1" cellpadding="10" cellspacing="0">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>JobTittle</th>
          <th>Phone</th>
          <th>Profile</th>
          <th>EmployeeCode</th>
        </tr>
        <tr *ngFor="let Emp of Employe">
          <td>{{Emp.id}}</td>
          <td>{{Emp.name}}</td>
          <td>{{Emp.email}}</td>
          <td>{{Emp.jobTittle}}</td>
          <td>{{Emp.phone}}</td>
          <td><img src="{{Emp.imageUrl}}" alt="" srcset="" style="width: 50px; height: 50px;"></td>
          <td>{{Emp.employeeCode}}</td>

        </tr>
      </table>
    </fieldset>
</div>

<div class="add_div" style="margin-top: 30px;">
  <fieldset>
    <h2>Search Employee</h2>
    <div class="input_section" style="flex-direction: column;">
      <div>
              <label>User id:</label><input type="text"  placeholder="Enter Employee id" id="name1id"  class="in1" [(ngModel)]="Datas1.id">
      </div>
      
      <table border="1" cellpadding="10" cellspacing="0">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>JobTittle</th>
          <th>Phone</th>
          <th>Profile</th>
          <th>EmployeeCode</th>
        </tr >
        <tr *ngIf="Employeone">
          <td>{{ Employeone.id }}</td>
          <td>{{ Employeone.name}}</td>
          <td>{{ Employeone.email }}</td>
          <td>{{ Employeone.jobTittle }}</td>
          <td>{{ Employeone.phone }}</td>
          <td><img src="{{Employeone.imageUrl}}" alt="" srcset="" style="width: 50px; height: 50px;"></td>
          <td>{{ Employeone.employeeCode }}</td>
        </tr>
    
            
      </table>
  
  </div> 

  <div>
      <button id="b1" type="submit" (click)="Getone()" [disabled]="isFormInvalid_id()" >Get Employee</button>
  </div>

  </fieldset>
</div>


<fieldset style="padding: 0px 80px;">
  <div class="add_div" >
      <h2 >Update Employee</h2>
      <div class="input_section" >
          <div>
          <label>User ID:</label><input type="text"  placeholder="Enter user id to update" id="name1"  [(ngModel)]="Datas1.id" class="in1">
          </div>
          <div>
                  <label>User Name:</label><input type="text"  placeholder="Enter Employee Name" id="name1"  [(ngModel)]="Datas1.name" class="in1">
          </div>
          <div>     
                  <label>User Email:</label><input type="text" placeholder="Enter Employee Email" id="email1"  [(ngModel)]="Datas1.email" class="in1">
          </div>
          <div>
                  <label>User Phone:</label><input type="text" placeholder="Enter Phone Number" id="Phone1" [(ngModel)]="Datas1.phone" class="in1" />
          </div>
          <div>
                  <label>User Image:</label><input type="text" placeholder="Enter image Url or blank" id="image1" [(ngModel)]="Datas1.imageUrl " class="in1"/>      
          </div>
      
      </div> 

      <div>
          <button id="b1" type="submit" (click)="update()"  >Update</button>
      </div>
  </div>
</fieldset>